<div *ngIf="employee">

    <h2>{{employee.name | uppercase}} Details</h2>
    <div><span><strong>Id: </strong></span>{{employee.id}}</div>
    <div>
      <label for="employee-name"><strong>Employee name: </strong></label>
      <input id="employee-name" [(ngModel)]="employee.name" placeholder="name">
    </div>
  
  </div>