
<h2>Employess List</h2>

<ul class="heroes">
  <li *ngFor="let employee of employeess">
    <button class="my-2 py-2 btn btn-primary" [class.selected]="employee === selectedemployee" type="button" (click)="onSelect(employee)">
      <span class="badge">{{employee.id}}</span>
      <span class="name">{{employee.name}}</span>
    </button>
  </li>
</ul>

<!-- <app-employee-detail [employee]="selectedemployee"></app-employee-detail> -->
<app-employee-detail [employee]="selectedemployee"></app-employee-detail>